.editor {
  padding: 10px;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  -webkit-transform: translate(-50%, -25%);
  -moz-transform: translate(-50%, -25%);
  -ms-transform: translate(-50%, -25%);
  -o-transform: translate(-50%, -25%);
  background-color: rgb(46, 46, 46);
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}
.editor::after {
  position: absolute;
  content: "";
  width: 95%;
  height: 5px;
  bottom: 8%;
  left: 2%;
  z-index: -1;
  background-color: gray;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}
.editor .text {
  width: 100%;
  height: 90%;
  background-color: rgb(46, 46, 46);
  outline: none;
  border: none;
  caret-color: white;
  color: white;
  font-family: "Cascadia Code", sans-serif;
  font-size: 1.2rem;
  line-height: 30px;
  overflow: hidden;
}
.editor > div:last-child {
  position: relative;
  bottom: -8.8%;
  width: 100%;
  height: 150px;
  display: none;
  box-shadow: 0 0 10px black;
}
.editor button {
  padding: 2px 40px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  color: white;
  background-color: inherit;

  border: 2px solid gray;
  cursor: pointer;
  position: relative;
  left: 75%;
  bottom: -5%;
  text-transform: capitalize;
  font-weight: bold;
}
