.editor {
  padding: 10px;
  height: 300px;
  position: absolute;
  left: 50%;
  background-color: rgb(46, 46, 46);
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.editor::after {
  position: absolute;
  content: "";
  width: 95%;
  height: 5px;
  bottom: 15%;
  left: 2.1%;
  z-index: 1;
  background-color: gray;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}
.editor .text {
  width: 100%;
  height: 80%;
  background-color: rgb(46, 46, 46);
  outline: none;
  border: none;
  caret-color: white;
  color: white;
  font-family: "Cascadia Code", sans-serif;
  font-size: 1.2rem;
  line-height: 30px;
  overflow: hidden;
}
.editor > div:last-child {
  position: relative;
  bottom: -25%;
  width: 100%;
  height: 150px;
  display: none;
  box-shadow: 0 0 10px #ccc;
  border: 1px solid #ccc;
}
.editor button {
  padding: 2px minmax(20px, 40px);
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  color: white;
  background-color: inherit;
  border: 2px solid gray;
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 5%;
  text-transform: capitalize;
  font-weight: bold;
}
@media only screen and (max-width: 3000px) {
  .editor {
    top: 25%;
    width: 500px;
  }
}
@media only screen and (max-width: 600px) {
  .editor {
    top: 60%;
    width: 300px;
  }
}
