@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
#root {
  width: 100vw;
  height: 100vh;
}
::root {
  --color-primary: #059669;
  --color-bg: #f8f3ec;
}
a {
  text-decoration: none;
  color: initial;
}


